.contact-me {
    width: 100%;
    height: 80px;
    padding-top: 16px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.icon-button {
    padding: 0 32px;
    flex-basis: auto;
}

.icon-button img{
    width: 36px;
    height: auto;
}

@media screen and (min-width: 950px) {
  .contact-me {
      position: absolute;
      bottom: 0;
      padding-top: 0;
  }
}
