@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:700&display=swap');
h1, h2, p, li, a{
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

a {
    text-decoration:  none;
}

body {
  margin: 0;
}
