@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:700&display=swap');
h1, h2, p, li{
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

a {
    text-decoration:  none;
}

body {
  margin: 0;
}

/* Padding Size */
.padding-L {
  padding: 64px;
}

.padding-M {
  padding: 48px;
}

.padding-S {
  padding: 24px;
}
