@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:700&display=swap');
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p, li {
  font-family: 'Source Code Pro', serif;
}

a {
    text-decoration:  none;
}


.center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    display: table;
    text-align: center;
}

.center-screen span {
    display: table-cell;
    vertical-align: middle;
}

.center-screen h1 {
    font-size: 3em;
}

.center-screen h2 {
    font-size: 2em;
    line-height: 0.9em;
    color: #5A5A5A;
}
