
.top-bar{
    background-color: #FFFFFF;
}

.top-bar ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: inherit;
}

.top-bar li{
    display: inline;
    float: left;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.23em;
}

.top-bar-right li a{
    font-family: 'Lato', sans-serif;
    font-style: 300;
    color: #919191;
    margin: 20px;
    padding: 20px 20px;
}

.top-bar-title li a{
    font-family: 'Raleway', sans-serif;
    font-style: 200;
    color: #000000;
    padding-left: 20px;
    font-size: 1.25em;
}
