
.header{
    background-color: #FFFFFF;
    width: 100%;
}

.header-container{
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.header-box{
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1.23em;
    background-color: pink;
}

.header-title{
    display: inline-block;
    margin: 0;
    padding: 10px 0;

    font-family: 'Raleway', sans-serif;
    font-style: 200;
    font-size: 1.25em;
    color: #000000;
}

.header-links{
    float: right;
    margin: 20px;
    padding: 20px 20px;

    font-family: 'Lato', sans-serif;
    font-style: 300;
    color: #919191;
}
