@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.nav ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: #9E9E9E;
}

.nav li{
    display: inline;
    float: left;
}

.nav li a{
    font-family: 'Open Sans', sans-serif;
    font-style: 700;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 16px;
}
