name: deploy
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install dependencies
        run: yarn install

      - name: Build project and prepare for deployment
        env:
          VITE_EMAIL_ADDRESS: ${{ vars.EMAIL_ADDRESS }}
          VITE_LINKEDIN_USERNAME: ${{ vars.USERNAME_LINKEDIN }}
          VITE_GITHUB_USERNAME: ${{ vars.USERNAME_GITHUB }}
          VITE_TWITTER_USERNAME: ${{ vars.USERNAME_TWITTER }}
          VITE_CV_URL: ${{ vars.CV_URL }}
        run: |
          yarn build
          touch dist/.nojekyll
          cp CNAME ./dist

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        if: success()
        with:
          target_branch: gh-pages
          build_dir: dist
          commit_message: 'chore: deploy to GitHub Pages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
