name: deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install dependencies
        run: yarn install

      - name: Build project and prepare for deployment
        env:
          NODE_ENV: production
        run: |
          yarn build
          touch dist/.nojekyll
          cp CNAME ./dist

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        if: success()
        with:
          target_branch: gh-pages
          build_dir: dist
          commit_message: 'chore: deploy to GitHub Pages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
